.modal-body{
    .label-text{
        font-size: 16px;
        font-weight: 600;
        margin-left: 20px;
    }
    .col2{
        width: auto;
        float: left;
        margin-left: 20px; 
        .input-mail{
            width: 70% !important;
            float: left;
        }
        .input{
            width: 85%;
            float: left;
        }
        .btn{
            width: 100px;
            margin-left: 8px;
            margin-top: 5px;
        }
        .eye{
            position: relative;
            right: 24px;
            top: 11px;
            // margin-top: 10px;
            cursor: pointer;
                                
        }
    }     
}