.verify-email-container{
    .infor-booking{
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
        text-transform: uppercase;
        color: red;
    }
}